.grid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background: #EEE;
}

.grid-item {
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
}

#ad-grid-loading {
  color: white;
}